  
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  min-height: 100vh;
}

/* NAVBAR START */

.Navbar{
  background-color: #1d1d1d;
  width: 100%;
  height: 60px;
  display: flex;
}

.Navbar .leftSide{
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Navbar .leftSide p{
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
}

.Navbar .rightSide{
  flex: 50%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.Navbar .rightSide button{
  display: none;
  margin-right: 20px;
}

.Navbar .rightSide #hidden{
  display: flex;
  margin-left: 20px;
}

.Navbar .rightSide .links{
  max-height: 80px;
}
.Navbar .rightSide .links a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin: 0 15px;
}

/* NAVBAR END */

/* HOME START */

.search-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.search-bar{
  width: 50vw;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 10px;
}

.search-button{
  width: 10vw;
  height: 2rem;
  border: none;
  outline: none;
  background:#fff;
  border-radius: 0 10px 10px 0;
}

/* HOME END */

/* MEDIA QUERIES START */

@media only screen and (max-width: 750px){
  .Navbar .leftSide .links a{
    font-size:15px;
  }

  .Navbar .leftSide p{
    font-size: 15px;
  }

  .search-bar{
    width: 75vw;
  }
}

@media only screen and (max-width: 980px){
  .Navbar .rightSide button{
    display: flex;
  }

  .Navbar .rightSide .links{
    display: none;
  }

  .Navbar .rightSide #hidden{
    position: absolute;
    left: -25px;
    top: 60px;
    height: 230px;
    max-height: 160px;
    width: 101.3%;
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Navbar .rightSide #hidden a{
    margin: 10px;
    font-size:15px;
  }
}

/* MEDIA QUERIES END */